<div ng-controller="TictactoeController">

  <h3>{{name ||'NoName'}}</h3>

  <div ng-hide="gameState.created">

      <label for="name">Name</label>
      <input id="name" ng-model="name">

      <label for="userName">UserName</label>
      <input id="userName" ng-model="userName">


      <div>
        {{name}}
        <button ng-click="createGame()"></button>
      </div>
    </div>

  <div ng-show="gameState.created">

    <a href="{{joinUrl}}">Send This link to your opponent</a>
  </div>

  <div ng-show="showJoinGame()">

  </div>
</div>
